---
title: About
---
<link rel="stylesheet" href="about.css">
<h1 class="page-header post-title" >welcome to zen and the art!</h1>
<img class="about" src="/images/about_photos/lid.jpg"></img>
<p id="about-me">I’m Zoe Netter, an artist, microbiologist, and cat-mama based in the Bay Area.
  <br>When I’m not in the lab taking care of bacteria, I’m putzing around the kitchen cooking hippy-dippy vegetarian food, nose-deep in a book, or making art.
  <br>Other things I love: bike rides, urban exploration, watching movies, huge mugs of tea, making clothes, and hangin’ with Dizzy the supreme kitten.
  <br>
</p>
<p id="about-zen">This is my corner of the internet.
  <br>Here you will find my visual art portfolio, including digital painting, pencil/paper, collage, and embroidery.
  <br>I will be blogging about my ongoing art projects; posting updates, inspiration, ramblings and other tidbits. Maybe some instructions for craft projects and recipes. Definitely a few too many cat photos.
  <br>I am open to requests, commissions, thoughtful comments, and interesting offers. All artwork may be purchased digitally or printed. Contact me for details.
  <p id="signoff">peace & love & motorcycle maintenance,</p>
  <div id="signature">zoe</div>
</p>
<img class="about" src="/images/about_photos/fridge.jpg"></img>
<img class="about" src="/images/about_photos/rr.jpg"></img>
<img class="about" src="/images/about_photos/diz.jpg"></img>
