---
title: Blog
---
<% recent_articles.each do |post| %>
  <div class="post">
    <div class="page-header">
      <h1 class="post-title"><%= link_to post[:title], post.path %></h1>
    </div>
    <span class="post-time pull-right"><%= get_pretty_date(post) %></span>
    <article class="post-body">
      <%= get_post_start(post) %>
    </article>
  </div>
<% end %>
