---
title: Portfolio
---
<h1 class="post-title page-header">Portfolio</h1>
<div class="row" id="gal-thumbs">
  <% sorted_galleries.each do |gallery| %>
  <a href="<%= gallery.path %>">
    <div class="thumb"
         style="background-image: url('<%= gallery_cover(gallery) %>')">
      <div class="thumb-text"><%= gallery[:title] %></div>
    </div>
  </a>
  <% end %>
</div>
