<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ZEN - <%= @item[:title] %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Volkhov:400,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">

    <link rel="stylesheet" href="<%= @items['/stylesheet/'].path %>">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
      <div class="container page-wrap">

        <div class="mobile-navigation hidden-md hidden-lg">
          <div class="logo"><a href="/"><img src="/images/logo.png"></img></a></div>
          <div class="btn-group">
            <a href="/"><div class="btn btn-default" id="blog">blog</div></a>
            <a href="/about"><div class="btn btn-default" id="about">about</div></a>
            <a href="/portfolio"><div class="btn btn-default" id="portfolio">portfolio</div></a>
            <a href="mailto:zoenetter@gmail.com"><div class="btn btn-default" id="contact">contact</div></a>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-8 col-lg-8">
            <div id="main"><%= yield %></div>
          </div>

          <div id="sidebar" class="col-md-4 col-lg-4">
              <div class="navigation hidden-sm hidden-xs">
                <div class="logo"><a href="/"><img src="/images/logo.png"></img></a></div>
                <div class="btn-group">
                  <a href="/"><div class="btn btn-default" id="blog">blog</div></a>
                  <a href="/about"><div class="btn btn-default" id="about">about</div></a>
                  <a href="/portfolio"><div class="btn btn-default" id="portfolio">portfolio</div></a>
                  <a href="mailto:zoenetter@gmail.com"><div class="btn btn-default" id="contact">contact</div></a>
              </div>
              <div id="hello"><img src="/images/hello.jpg"></img>
                <p>zoe.<br>san jose, ca. microbiologist. kitchen witch. art/mess maker. adventurer.</p>
              </div>

              <div id=social-buttons>
                <a href="mailto:zoenetter@gmail.com"><img src="/images/mail_icon.png"></img></a>
                <a href="http://instagram.com/znetts/"><img src="/images/insta_icon.png"></img></a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /container -->
      <footer class="sticky-footer">
        <div class="container">
          <p class="text-muted">© 2015 zoe netter, all rights reserved.</p>
          <p class="text-muted">made with ☮ by <a href="http://jakegoritski.com">dr. proteus <img id="serling" src="/images/serling.jpg"></img></a></p>
        </div>
    </footer>
    </body>
</html>
