<% render 'default' do %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

  <!-- fotorama.css & fotorama.js. -->
  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

  <!-- 2. Add images to <div class="fotorama"></div>. -->
  <h1 class="post-title page-header"><%= @item[:title] %></h1>
  <div class="fotorama" data-width="100%" data-height="70%" data-nav="thumbs">
    <% gallery_images(@item).each do |image| %>
      <img src="<%= image %>"></img>
    <% end %>
  </div>
  <div class="gallery-body">
    <article>
      <%= yield %>
    </article>
  </div>
  <%= render 'disqus' %>
<% end %>
