<% render 'default' do %>
  <div class="post">
    <div class="page-header">
      <h1 class="post-title"><%= item[:title] %></h1>
    </div>
    <span class="post-time pull-right"><%= get_pretty_date(item) %></span>
    <article class="post-body">
      <%= yield %>
    </article>
  </div>
  <%= render 'disqus' %>
<% end %>
