<% @items do |post| %>
  <div class="post">
    <div class="page-header">
      <h1 class="post-title"><%= link_to post[:title], post.path %></h1>
      <p class="post-header">
        <span class="post-time"><%= get_pretty_date(post) %></span>
      </p>
    </div>
    <article class="post-body">
      <%= get_post_start(post) %>
    </article>
  </div>
<% end %>
